@use '../helpers/variables' as var;

section.todo {
  position: relative;
  top: -120px;
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 1.5rem;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);

  .todo__filter {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    margin-bottom: 2rem;

    p {
      opacity: 0.6;
      cursor: pointer;

      &.active {
        opacity: 1;
        color: var.$primary-color;
        font-weight: bold;
      }
    }
  }

  .todo__list {
    list-style: none;

    .todo__item {
      position: relative;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 1.2rem;
      padding: 1rem 0;

      &:first-child {
        padding-top: 0;
      }

      &.done {
        p {
          text-decoration: line-through;
          opacity: 0.3;
        }
      }

      .status {
        color: var.$primary-color;
        cursor: pointer;
        font-size: 1.5rem;
        margin-right: 15px;
      }

      p {
        padding-right: 25px;
      }

      .remove {
        position: absolute;
        right: 0;
        color: var.$primary-color;
        font-size: 1.5rem;
        cursor: pointer;
        opacity: 0;
      }

      &:hover .remove {
        opacity: 1;
        transition: 0.2s;
      }
    }
  }

  .todo__bottom {
    padding-top: 1rem;
    opacity: 0.4;
  }
}
